body{
    background-color: rgb(52 58 64);
}

.c-b{
    
    background: rgb(73 83 93);
}

.bold{
    
    color: #fff;
}

#ttl{
    color: teal;
    font-family: sans-serif;
    font-size: 1.5em;

}

.jumbotron{
    background-color: rgb(1 8 16);
    padding: 0%;
    margin-top: 62px;
    box-shadow: -3px 7px 5px -2px rgba(0,0,0,0.53);
}

.jumbotron-c{
    width: 70%;
    margin-bottom: 30px;
    color: lavender;
}

.jumbotron-c nav ol {
    background: #3e454c;
    box-shadow: -3px 7px 5px -2px rgba(0,0,0,0.53);
}

.jumbotron-c .cl a{
    color: rgb(0, 202, 202);
}

.jumbotron-c h1{
    padding: 40px 0px 40px 0px;
    text-align: center;
    margin-bottom: 30px;
}

.jumbotron-c div > input {
    border-color: teal;
    background: #3e454c;
    color: lavender;
}

.jumbotron-c div > select {
    border-color: teal;
    background: #3e454c;
    color: lavender;
}

.jumbotron-c div .icon-c > div{
    background: #008080;
    border-color:#00c0a5;
    color: lavender;
}

.jumbotron-c div .icon-m > div{
    margin: 4px 0px;
    background: #008080;
    border-color:#00c0a5;
    color: lavender;
}

.jumbotron-c div > textarea{
    border-color: teal;
    background: #3e454c;
    color: lavender;
}

.ul-c li a{
    color: teal;
}

.mg1{
    margin-bottom: 30px;
    margin-left: 6%;
}

.crd{
    flex: 1 150px;
    justify-content: space-between;
    background: rgb(210 210 210);
    box-shadow: 8px 8px 4px -5px rgba(0,0,0,0.59);
    width: 18rem;
    height: 100%;
}

.crd-e{
    margin-top: 15px;
}

.crd-e label h3{
    color: lavender;
}

.crd-e > textarea{
    border-color: teal;
    background: #3e454c;
    color: lavender;
    margin-top: 10px;
}

.crd-e input{
    border-color: teal;
    background: #3e454c;
    color: lavender;
}

.btn-go{
    width: 100%;
    background: teal;
}

.btn-c{
    width: 40%;
    background: teal;
    margin: 10px;
    border-color: #0fbbbb;
    margin-bottom: 30px;
    
}

.btn-p{
    width: 210px;
    background: #0080807a;
    border: none;
    margin-bottom: 1px;
}

.btn-r{
    width: 100%;
    margin-left: 10%;
}

.btn-ac{
    background: teal;
}

.t-m{
    text-align: center;
    
}

.m-c{
    background: #081913;
    color: lavender;
    
}

.md-c > input{
    border-color: teal;
    background:#081913;
    color: lavender;
}

.md-c > textarea{
    border-color: teal;
    background:#081913;
    color: lavender;
}

.mc-b{
    background: #004c41;
    
}

.mg-b1{
    margin-bottom: 40px;
}


.stars-c tr td > span{
    color: rgb(248, 224, 2);
}

.stars-c tr td > button{
    background: teal;
    border-color: turquoise;
}

.colpse-c{
    color: lavender;
    text-align: center;
}

.colpse-c div p{
    background: #0080807a;
}

.prs{
    margin: 2% 0 2% 0;
}

.hr-c{
    background: lavender;
}

footer{
    height: 200px;
    padding: 11px 10px 0 10px;
    background-color: rgb(62, 74, 87);
    margin-bottom: 0px;
    box-shadow: 0px 9px 13px -5px rgba(0,0,0,0.59);
}

footer .rds{
    width: 100%;
}

footer .redes a{
    text-decoration: none;
    font-size: 145%;
    color: teal;
}

footer .redes a i{
    margin-top: 5px;
    font-size: 150%;
    
}

footer .redes a:hover{
    color: darkgoldenrod;
    font-size: 1.6em;
}

footer .tm-1{
    font-size: 50px;
}

.autor{
    text-align: center;
    width: 100%;
    color: rgb(129, 129, 129);
}