$aguamarina: #057770;
$verde-oscuro: #081913;
$verde-t: #0080807a;
$gris-fondo: #343a40;
$gris: #3e454c;
$gris-suave: #49535d;
$gris-claro: #d2d2d2da;
$blanco-opaco: #e6e6fa;
$azuloscuro: #000000;
$azulclaro:  #0aa0a0;
$yellow: #d4bf03;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

body{
    background-color: $gris-fondo;
}

.c-b{
    
    background: $gris-suave;
}

.bold{
    
    color: $blanco-opaco;
}

#ttl{
    color: $aguamarina;
    font-family: sans-serif;
    font-size: 1.5em;

}

.jumbotron{
    background-color: $azuloscuro;
    padding: 0%;
    margin-top: 62px;
    box-shadow: -3px 7px 5px -2px rgba(0,0,0,0.53);
}

.jumbotron-c{
    width: 70%;
    @include margenes(0, 30px);
    color: $blanco-opaco;
}

.jumbotron-c nav ol {
    background: $gris;
    box-shadow: -3px 7px 5px -2px rgba(0,0,0,0.53);
}

.jumbotron-c .cl a{
    color: $azulclaro;
}

.jumbotron-c h1{
    @include paddings(40px, 40px);
    text-align: center;
    @include margenes(0, 30px);
}

.jumbotron-c div > input {
    border-color: $aguamarina;
    background: $gris;
    color: $blanco-opaco;
}

.jumbotron-c div > select {
    border-color: $aguamarina;
    background: $gris;
    color: $blanco-opaco;
}

.jumbotron-c div .icon-c > div{
    background:$aguamarina;
    border-color:$azulclaro;
    color: $blanco-opaco;
}

.jumbotron-c div .icon-m > div{
    margin: 4px 0px;
    background: $aguamarina;
    border-color:$azulclaro;
    color: $blanco-opaco;
}

.jumbotron-c div > textarea{
    border-color: $aguamarina;
    background: $gris;
    color: $blanco-opaco;
}

.ul-c li a{
    color: $aguamarina;
}

.mg1{
    @include margenes(0, 30px);
    margin-left: 6%;
}

.crd{
    flex: 1 150px;
    justify-content: space-between;
    background: $gris-claro;
    box-shadow: 8px 8px 4px -5px rgba(0,0,0,0.59);
    width: 18rem;
    height: 100%;
}

.crd-e{
    @include margenes(15px, 0);
}

.crd-e label h3{
    color: $blanco-opaco;
}

.crd-e > textarea{
    border-color: $azulclaro;
    background: $gris;
    color: $blanco-opaco;
    @include margenes(10, 0px);
}

.crd-e input{
    border-color: $aguamarina;
    background: $gris;
    color: $blanco-opaco;
}

.btn-go{
    width: 100%;
    background: $aguamarina;
}

.btn-c{
    width: 40%;
    background: $aguamarina;
    margin: 10px;
    border-color: $azulclaro;
    @include margenes(0, 30px);
    
}

.btn-p{
    width: 210px;
    background: $verde-t;
    border: none;
    @include margenes(0, 1px);
}

.btn-r{
    width: 100%;
    margin-left: 10%;
}

.btn-ac{
    background: $aguamarina;
}

.t-m{
    text-align: center;
    
}

.m-c{
    background: $verde-oscuro;
    color: $blanco-opaco;
    
}

.md-c > input{
    border-color: $aguamarina;
    background: $verde-oscuro;
    color: $blanco-opaco;
}

.md-c > textarea{
    border-color: $aguamarina;
    background: $verde-oscuro;
    color: $blanco-opaco;
}

.mc-b{
    background: $aguamarina;
    
}

.mg-b1{
    @include margenes(0, 40px);
}


.stars-c tr td > span{
    color: $yellow;
}

.stars-c tr td > button{
    background: $aguamarina;
    border-color: $azulclaro;
}

.colpse-c{
    color: $blanco-opaco;
    text-align: center;
}

.colpse-c div p{
    background: $verde-t;
}

.prs{
    margin: 2% 0 2% 0;
}

.hr-c{
    background: $blanco-opaco;
}

footer{
    height: 200px;
    padding: 11px 10px 0 10px;
    background-color: rgb(62, 74, 87);
    margin-bottom: 0px;
    box-shadow: 0px 9px 13px -5px rgba(0,0,0,0.59);
}

footer .rds{
    width: 100%;
}

footer .redes a{
    text-decoration: none;
    font-size: 145%;
    color: $aguamarina;
}

footer .redes a i{
    @include margenes(5px, 0);
    font-size: 150%;
    
}

footer .redes a:hover{
    color: $yellow;
    font-size: 1.6em;
}

footer .tm-1{
    font-size: 50px;
}

.autor{
    text-align: center;
    width: 100%;
    color: rgb(129, 129, 129);
}